{% extends "base.html" %}
{% block title %} Sign-Up {% endblock title %}

{% block content %}
<br/>
<div class="container col-md-4 col-md-offset-4">    
    <form action="" method="post" class="form-group card p-3" novalidate> 
        <fieldset>
            <legend class="border-bottom pb-2 display-6" style="font-size: 39px" align="center">Sign up for an account</legend>
            <br/>
            <br/>
            {{ form.hidden_tag() }}

            <!-- Username -->
            {{ form.username.label(class="form-label") }}
            {% if form.username.errors %}
                {{ form.username(class="form-control is-invalid", placeholder="Username") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}    
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control", placeholder="Username") }}
            {% endif %}
            <br/>
            
            <!-- Email -->
            {{ form.email.label(class="form-label") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control is-invalid", placeholder="email@email.com") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %} 
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control", placeholder="email@email.com") }}
            {% endif %}
            <br/>
            
            <!-- Password -->
            {{ form.password.label(class="form-label") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control") }}
            {% endif %}
            <br/>
            
            <!-- Confirm Password -->
            {{ form.confirm.label(class="form-label") }}
            {% if form.confirm.errors %}
                {{ form.confirm(class="form-control is-invalid") }}
                <div class="invalid-feedback">    
                    {% for error in form.confirm.errors %}
                        <span> {{ error }} </span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm(class="form-control") }}
            {% endif %}
            <br/>
        </fieldset>
        {{ form.signup(class="btn btn-primary") }} 
    </form>
    <br/>
    <div class="border-top pt-1 text-muted">
        <small>Already have an account? <a href="{{ url_for('auth.login') }}">Login</a></small>
    </div>
</div>

{% endblock content %}